<div class="logo-wrapper" itemscope itemtype="http://schema.org/Organization">
	<a href="/" itemprop="url" class="logo">
		<svg
			id="logo"
			width="100%"
			height="100%"
			viewBox="0 0 902 96"
			fill="none"
			preserveAspectRatio="xMidYMid meet"
			xmlns="http://www.w3.org/2000/svg"
		>
			<circle class="cross-eyed" cx="22%" cy="51%" r="8" fill="black" fill-opacity="0" />
			<path
				d="M48.0999 37.5001V37.2001C56 36.2001 63 31.0001 63 20.3C63 8.70005 54.3 2.00005 39.5 2.00005H0.199951V75.0001H38C54.9999 75.0001 65.2 67.6001 65.2 55.4001C65.2 44.0001 56.7 38.2001 48.0999 37.5001ZM35.6 14.9001C44.4 14.9001 46.9 18.3 46.9 23.6001C46.9 29.5001 43.3 32.1001 34.9 32.1001H15.2V14.9001H35.6ZM35.7 62.1001H15.2V44.4H35.9C46.3 44.4 49.1 47.9 49.1 53.2001C49.1 59.1001 46 62.1001 35.7 62.1001Z"
				fill="black"
			/>
			<path
				d="M100.655 20.5001C82.5554 20.5001 70.7554 31.6 70.7554 48.2001C70.7554 64.8001 82.1554 76.2001 100.655 76.2001C119.155 76.2001 130.455 64.8001 130.455 48.2001C130.455 31.5 118.855 20.5001 100.655 20.5001ZM100.655 65.2001C91.4554 65.2001 86.1554 58.9001 86.1554 48.7001C86.1554 38.4 91.4554 31.5 100.655 31.5C109.855 31.5 115.055 38.6 115.055 48.7001C115.055 58.9001 109.755 65.2001 100.655 65.2001Z"
				fill="black"
			/>
			<path
				d="M172.783 20.5001C162.983 20.5001 156.183 25.4001 152.883 33.3001H152.583V2.00005H137.583V75.0001H152.583V63.9001H152.883C155.983 71.3001 162.983 76.2001 172.483 76.2001C187.083 76.2001 197.283 65.2001 197.283 48.2001C197.283 30.8 186.183 20.5001 172.783 20.5001ZM167.483 65.1001C158.683 65.1001 152.483 58.3001 152.483 49.7001V47.0001C152.483 38.7001 158.683 31.6001 167.483 31.6001C176.083 31.6001 181.883 38.4 181.883 48.2001C181.883 58.3 176.083 65.1001 167.483 65.1001Z"
				fill="black"
			/>
			<path
				d="M239.63 20.5001C229.83 20.5001 223.03 25.4001 219.73 33.3001H219.43V2.00005H204.43V75.0001H219.43V63.9001H219.73C222.83 71.3001 229.83 76.2001 239.33 76.2001C253.93 76.2001 264.13 65.2001 264.13 48.2001C264.13 30.8 253.03 20.5001 239.63 20.5001ZM234.33 65.1001C225.53 65.1001 219.33 58.3001 219.33 49.7001V47.0001C219.33 38.7001 225.53 31.6001 234.33 31.6001C242.93 31.6001 248.73 38.4 248.73 48.2001C248.73 58.3 242.93 65.1001 234.33 65.1001Z"
				fill="black"
			/>
			<path
				d="M309.113 21.6L295.213 62.0001H294.713L280.013 21.6H264.013L283.313 68.2001C285.013 72.3001 286.113 75.9001 286.113 78.7001C286.113 80.9001 285.513 82.6001 284.013 83.8001C282.513 84.9001 280.413 85.6001 276.813 85.6001C273.313 85.6001 270.113 85.2001 266.113 84.0001V94.3001C268.813 95.3001 273.013 96.0001 277.613 96.0001C289.813 96.0001 296.813 91.3001 301.113 80.5001L324.713 21.6H309.113Z"
				fill="black"
			/>
			<path
				d="M411.762 75.0001H427.762L396.862 2.00005H379.362L349.862 75.0001H364.862L371.362 58.2001H404.862L411.762 75.0001ZM376.262 45.7001L387.562 16.8001H387.962L399.762 45.7001H376.262Z"
				fill="black"
			/>
			<path
				d="M472.987 2.00005V32.8001H472.687C469.587 25.4001 462.587 20.5001 453.087 20.5001C438.487 20.5001 428.287 31.5001 428.287 48.5001C428.287 65.9001 439.387 76.2001 452.787 76.2001C462.587 76.2001 469.387 71.3001 472.687 63.4001H472.987V75.0001H487.987V2.00005H472.987ZM458.087 65.1001C449.487 65.1001 443.687 58.3001 443.687 48.5001C443.687 38.4001 449.487 31.6001 458.087 31.6001C466.887 31.6001 473.087 38.4001 473.087 47.0001V49.7001C473.087 58.0001 466.887 65.1001 458.087 65.1001Z"
				fill="black"
			/>
			<path
				d="M552.834 64.5001C549.434 64.5001 549.434 62.0001 549.434 59.6001V41.6001C549.434 28.3001 541.034 20.5001 524.934 20.5001C512.634 20.5001 502.134 24.7 496.634 38.3L508.434 43.1001C512.234 33.8 517.934 31.3001 523.834 31.3001C529.434 31.3001 534.234 33.9001 534.734 39.7001C523.934 43.1001 513.934 45.6001 510.034 47.0001C500.534 50.3001 495.534 53.8001 495.534 61.4001C495.534 69.6001 502.834 76.2001 513.734 76.2001C523.834 76.2001 531.134 70.7001 534.834 64.4001H535.334V66.4001C535.334 72.9001 539.134 76.0001 547.134 76.0001C550.834 76.0001 554.634 74.9001 556.934 74.0001V64.1001C555.634 64.4001 553.934 64.5001 552.834 64.5001ZM518.434 64.9001C513.334 64.9001 510.734 62.2001 510.734 59.4001C510.734 57.1001 512.234 56.1001 516.934 54.4001C519.634 53.4001 529.434 50.1 534.734 48.3V56.3001C533.034 60.3001 526.734 64.9001 518.434 64.9001Z"
				fill="black"
			/>
			<path
				d="M635.434 20.5001C625.534 20.5001 618.834 25.6001 615.734 33.9001H615.534C613.334 25.2001 607.034 20.5001 597.634 20.5001C587.834 20.5001 581.334 25.4001 578.434 33.7001H578.034V21.6H563.434V75.0001H578.434V46.5001C578.434 37.5001 583.834 32.6001 591.234 32.6001C597.934 32.6001 601.434 36.5001 601.434 43.8001V75.0001H616.434V46.5001C616.434 37.5001 621.734 32.6001 629.334 32.6001C635.834 32.6001 639.434 36.5001 639.434 43.8001V75.0001H654.434V41.8C654.434 28.1 647.534 20.5001 635.434 20.5001Z"
				fill="black"
			/>
			<path
				d="M660.349 61.4001C664.649 71.8001 674.049 76.2001 687.649 76.2001C702.549 76.2001 713.549 69.4001 713.549 57.6001C713.549 45.5001 703.849 42.8001 695.549 42.0001C691.449 41.6001 685.849 41.3001 682.649 41.0001C677.749 40.6001 675.849 39.8 675.849 36.8C675.849 33.4001 680.449 30.8 687.149 30.8C693.449 30.8 698.849 33.4 703.149 38.4L711.749 31C705.949 23.5 696.049 20.5001 686.749 20.5001C673.149 20.5001 662.649 27.3 662.649 38.3C662.649 49.7 671.449 52.6001 678.249 53.3001C682.249 53.7001 688.149 54 692.749 54.3C698.349 54.7 700.549 56 700.549 58.7001C700.549 62.9001 695.049 65.5001 687.649 65.5001C680.249 65.5001 674.149 62.6 671.149 56.8L660.349 61.4001Z"
				fill="black"
			/>
			<path
				d="M719.285 58.5001V75.0001H727.185V78.1001C727.185 81.0001 726.085 82.7001 723.685 83.1001C722.485 83.3001 721.085 83.3001 719.285 83.3001V92.2001C730.185 92.2001 735.385 86.1001 735.485 78.7001L735.785 58.5001H719.285Z"
				fill="black"
			/>
			<path
				d="M817.728 37.1001V36.8C827.828 34.9 831.028 28.4 831.028 21.7C831.028 9.70005 821.128 0.800049 802.928 0.800049C783.028 0.800049 772.328 10.4001 770.528 26.8001L784.828 28.6001C785.828 18.6001 790.928 13.4 802.028 13.4C810.728 13.4 815.628 17.5001 815.628 23.9001C815.628 30.2001 810.328 31.7001 802.828 31.7001H793.028V43.9001H804.528C812.828 43.9001 817.928 46.1001 817.928 52.6001C817.928 60.1001 812.928 63.6001 801.928 63.6001C791.428 63.6001 786.228 60.3001 784.328 49.9001L769.428 51.8C771.928 68.7001 782.328 76.2001 801.828 76.2001C820.828 76.2001 833.528 69.3001 833.528 54.2001C833.528 43.9 827.628 38.6001 817.728 37.1001Z"
				fill="black"
			/>
			<path
				d="M859.21 62.1001C862.81 57.3001 871.51 53.7001 879.51 49.5001C892.01 42.9001 899.71 37 899.71 24.8C899.71 9.30005 887.41 0.800049 871.11 0.800049C851.91 0.800049 840.71 10.1 838.81 31L853.01 32.8001C854.41 18 860.11 13.4 870.31 13.4C878.91 13.4 884.01 17.8001 884.01 25.3001C884.01 33.1001 877.41 36.9001 865.31 43.3001C848.51 52.2001 840.41 58.7001 840.41 70.5001V75.0001H901.01V62.1001H859.21Z"
				fill="black"
			/>
			<g class="right-eye">
				<circle cx="27%" cy="51%" r="12" fill="black" />
			</g>
			<g class="left-eye">
				<circle cx="19.6%" cy="51%" r="12" fill="black" />
			</g>
		</svg>
	</a>
</div>
<script>
	$("body").mousemove((event) => {
		const leftEye = $(".left-eye");
		const rightEye = $(".right-eye");
		const crossEyed = $(".cross-eyed");
		const logo = $("#logo");

		const computeEye = (eye) => {
			const x = eye.offset().left + eye.width() / 2;
			const y = eye.offset().top + eye.height() / 2;
			const rad = Math.atan2(event.pageX - x, event.pageY - y);
			const rot = rad * (180 / Math.PI) * -1 + 180;

			return rot - 50;
		};
		crossEyed.hover(function(){
			$("#logo path, #logo circle").attr("fill","red")
		}, function(){
			$("#logo path, #logo circle").attr("fill","black")
		});

		rightEye.css({
			transform: `rotate(${computeEye(leftEye)}deg)`,
		});

		leftEye.css({
			transform: `rotate(${computeEye(rightEye)}deg)`,
		});
	});
</script>
