/* --------------------------------------------------------------------------
Hosted Fonts
-----------------------------------------------------------------------------*/
@font-face {
	font-family: "MGMedium";
	src: url('{{ "MGMedium.eot" | asset_url }}');
	src: url(' {{ "MGMedium.eot?#iefix" | asset_url }} ')
			format("embedded-opentype"),
		url(' {{ "MGMedium.woff2" | asset_url }} ') format("woff2"),
		url(' {{ "MGMedium.woff" | asset_url }} ') format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "MGBlack";
	src: url('{{ "MGBlack.eot" | asset_url }}');
	src: url(' {{ "MGBlack.eot?#iefix" | asset_url }} ')
			format("embedded-opentype"),
		url(' {{ "MGBlack.woff2" | asset_url }} ') format("woff2"),
		url(' {{ "MGBlack.woff" | asset_url }} ') format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "MGBold";
	src: url('{{ "MGBold.eot" | asset_url }}');
	src: url(' {{ "MGBold.eot?#iefix" | asset_url }} ')
			format("embedded-opentype"),
		url(' {{ "MGBold.woff2" | asset_url }} ') format("woff2"),
		url(' {{ "MGBold.woff" | asset_url }} ') format("woff");
	font-weight: normal;
	font-style: normal;
}
/* --------------------------------------------------------------------------
Fonts
-----------------------------------------------------------------------------*/
$markRegular: "Mark Regular", sans-serif;
$saolMedium: "Saol Medium", sans-serif;
$MGBlack: "MGBlack";
$MGBold: "MGBold";
$MGMedium: "MGMedium";

$bodyTextFont: $MGMedium;
$headingFont: $MGMedium;
