/* --------------------------------------------------------------------------
Body Open Mobile Nav Styles
-----------------------------------------------------------------------------*/
.open-mobile-nav {
	/* Prevent the body from scrolling under the mobile navigation */
	position: fixed;
	overflow: hidden;
}
.logo {
	width: 100%;
}
.instagram {
	width: 30px;
	@include mobile-only {
		width: 20px;
	}
}
/* --------------------------------------------------------------------------
Header Navigation Styles
-----------------------------------------------------------------------------*/
.nav-wrapper {
	margin-bottom: 30px;
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include mobile-only {
			margin-bottom: 0;
		}
		.logo-wrapper {
			@include mobile-only {
				padding: 30px 0 0px;
			}
			padding: 30px 0 10px;
			width: 100%;
			a {
				font-family: $MGBold;
				font-size: 100px;
				line-height: 100px;
				@include mobile-only {
					font-size: 9.8vmin;
					line-height: 30px;
					white-space: nowrap;
				}
			}
		}
		.nav-content {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			.cart-icon {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			nav {
				width: 100%;
				ul {
					display: flex;
					justify-content: left;
					margin-top: 10px;
					@include mobile-only {
						justify-content: space-between;
						margin-top: 10px;
						flex-wrap: wrap;
						margin-bottom: 10px;
					}
					li {
						margin-right: 20px;
						@include mobile-only {
							margin-right: 0;
						}
						a {
							font-size: 20px;
							@include mobile-only {
								font-size: 14px;
							}
						}
						.cart-counter {
							@include mobile-only {
								position: fixed;
								top: 5px;
								right: 10px;
								box-shadow: 0 0 0 2px black;
								padding: 0px 6px;
								border-radius: 20px;
								font-size: 10px;
							}
						}
					}
					li:last-child {
						margin-right: 0;
					}
					li:hover {
						color: darken($primaryAnchorColor, 20%);
						border-bottom: 3px solid black;
					}
				}
				a,
				a:visited {
					color: $primaryAnchorColor;
				}
			}
		}
	}
}

/* ==============   MOBILE NAV STYLES  ============== */
// @include mobile-only {
// 	.nav-wrapper nav {
// 		position: fixed;
// 		top: 0;
// 		left: 0;
// 		width: 100%;
// 		height: 100%;
// 		background-color: rgba(255, 255, 255, 0.95);
// 		opacity: 0;
// 		visibility: hidden;
// 		transition: all 0.3s ease-in-out;
// 		z-index: 200;
// 		display: flex;
// 		flex-direction: row;
// 		justify-content: center;
// 		align-items: center;
// 		ul{
// 			display: flex;
// 			flex-direction: column;
// 			li {
// 				margin-bottom: 30px;
// 				text-align: right;
// 			}
// 		}
// 		// a {
// 		// 	display: block;
// 		// 	margin: 0;
// 		// 	font-size: 2rem;
// 		// 	line-height: 2;
// 		// }
// 	}
// }

/* ==============   OPEN MOBILE NAV  ============== */
.open-mobile-nav {
	.nav-wrapper nav {
		/* Styles for when the user clicks the hamburger icon */
		opacity: 1;
		visibility: visible;
	}
}

/* --------------------------------------------------------------------------
Hamburger Icon styles
-----------------------------------------------------------------------------*/
.hamburger {
	width: 3rem;
	height: 1.5rem;
	position: absolute;
	right: 3rem;
	top: 1.5rem;
	display: none;
	z-index: 201;
	cursor: pointer;
	span {
		display: block;
		border-bottom: 2px solid $borderColor;
		width: 100%;
		position: absolute;
		height: 1px;
		transition: all 0.2s ease-in-out;
	}
	span:first-of-type {
		top: 0;
	}
	span:nth-of-type(2) {
		top: 50%;
	}
	span:last-of-type {
		top: 100%;
	}
}

/* ==============   HAMBURGER MOBILE STYLES  ============== */
// @include mobile-only {
// 	.hamburger {
// 		display: block;
// 		position: fixed;
// 	}
// }

/* ==============   OPEN MOBILE NAV HAMBURGER STYLES  ============== */
.open-mobile-nav {
	/* Rotate lines to form an X */
	.hamburger {
		position: fixed;
		span:first-of-type {
			top: 50%;
			transform: rotate(-45deg);
		}
		span:nth-of-type(2) {
			transform: translateX(-20%);
			opacity: 0;
		}
		span:last-of-type {
			top: 50%;
			transform: rotate(45deg);
		}
	}
}

/* ==============   CART ICON  ============== */
.icon-cart {
	width: 3rem;
	display: block;
}

.eye {
	// margin: auto;
	/*   background:#ccc; */
}
.pupil {
	position: relative;
	/*   transform:  rotate(390deg); */
	/*   transform-origin: 20px center; */
}

.left-eye {
	transition: rotate 100ms;
	transform-origin: 18.6% 55%;
	transform: translateZ(0);
	@include mobile-only {
		transition: all 500ms;
	}
}
.right-eye {
	transition: rotate 100ms;
	transform-origin: 26% 55%;
	transform: translateZ(0);
	@include mobile-only {
		transition: all 0ms;
	}
}

#logo path,
#logo circle {
	transition: fill 100ms;
}

.logo-wrapper {
	.logo {
		@include mobile-only {
			height: 45px;
		}
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		svg {
		}
		#age {
			position: absolute;
			right: 0;
			font-size: 9.5rem;
			margin-top: -1%;
			@include mobile-only {
				font-size: 4.2rem;
			}
		}
	}
}
