.social-sharing svg {
	display: block;
	width: 2rem;
}
.product {
	@include mobile-only {
		display: flex;
		flex-direction: column;
	}
	.product__image {
		margin-bottom: 30px;
		ul {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			li {
				margin-top: 1rem;
				margin-right: 1rem;
			}
		}
		@include mobile-only {
			margin-bottom: 10px;
		}
	}
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 30px;
	grid-row-gap: 0px;
	.product__description {
		.product-form {
			width: 360px;
			.cart {
				display: flex;
				justify-content: flex-start;
				align-items: flex-end;
				margin-bottom: 20px;
				.quantity {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					input {
						font-size: 15px;
						margin-right: 10px;
						width: 30px;
						border-bottom: solid 3px black;
						padding: 5px;
					}
				}
				button {
					font-size: 15px;
					background: none;
					border: solid 3px black;
					padding: 5px;
				}
				button:disabled {
					border: solid 3px currentColor;
				}
			}
		}
	}
}
.product-grid {
	.product {
		display: flex;
		flex-direction: column;
	}
}
.button {
	font-size: 15px;
	background: none;
	border: solid 3px black;
	padding: 5px;
}
.price {
	margin: 20px 0;
	span {
		font-size: 20px;
	}
}
