.shop-selection {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 50px;
	/* one item */
	a {
		font-size: 25px;
		@include mobile-only {
			font-size: 10px;
		}
	}
	li {
		border-bottom: 3px solid transparent;
	}
	li:hover {
		color: darken($primaryAnchorColor, 10%);
		border-bottom: solid black 3px;
	}
}

.flex-collection {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	.product {
		margin: 20px;
		img {
			margin-bottom: 10px;
		}
		.product--title {
			font-size: 25px;
		}
		.product--price {
		}
		.sold-out {
			background: red;
			color: white;
			padding: 3px;
			text-align: center;
		}
		@include mobile-only {
			margin-bottom: 20px;
			width: 40vw;
			.product--title {
				font-size: 18px;
			}
			a {
				img {
					width: 100%;
					margin-bottom: 5px;
				}
			}
		}
	}
}

.current {
	border-bottom: 3px solid black !important;
}
