.shop-selection {
	display: flex;
	justify-content: left;
	align-items: center;
	margin-bottom: 30px;
	/* one item */
	a {
		font-size: 20px;
		@include mobile-only {
			font-size: 10px;
		}
	}
	li {
		border-bottom: 3px solid transparent;
	}
	li:hover {
		color: darken($primaryAnchorColor, 10%);
		border-bottom: solid black 3px;
	}
}

.flex-collection {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 30px 30px;
	grid-template-areas:
		". . ."
		". . ."
		". . .";
	@include mobile-only {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			". ."
			". .";
	}
	.product {
		.product--image {
			img {
				margin-bottom: 10px;
				max-width: 100%;
			}
		}
		.product--title {
			font-size: 25px;
		}
		.product--price {
		}
		.sold-out {
			background: red;
			color: white;
			padding: 3px;
			text-align: center;
		}
		@include mobile-only {
			margin-bottom: 20px;
			width: 40vw;
			.product--title {
				font-size: 18px;
			}
			a {
				img {
					width: 100%;
					margin-bottom: 5px;
				}
			}
		}
	}
}

.current {
	border-bottom: 3px solid black !important;
}
